In [1]:
import itertools
from Bio.Seq import reverse_complement
import pandas as pd

### prepare 4-mer

In [3]:
nucleotides = ['A', 'T', 'C', 'G']
l = []
l = list(itertools.product(nucleotides, repeat=4))
f_mer = ["".join(np) for np in l]
for s in f_mer:
    if s != reverse_complement(s):
        f_mer.remove(reverse_complement(s))
feature_dict = dict(zip(f_mer, [0] * len(f_mer)))

In [55]:
print(feature_dict)

{'AAAA': 0, 'AAAT': 0, 'AAAC': 0, 'AAAG': 0, 'AATA': 0, 'AATT': 0, 'AATC': 0, 'AATG': 0, 'AACA': 0, 'AACT': 0, 'AACC': 0, 'AACG': 0, 'AAGA': 0, 'AAGT': 0, 'AAGC': 0, 'AAGG': 0, 'ATAA': 0, 'ATAT': 0, 'ATAC': 0, 'ATAG': 0, 'ATTA': 0, 'ATTC': 0, 'ATTG': 0, 'ATCA': 0, 'ATCT': 0, 'ATCC': 0, 'ATCG': 0, 'ATGA': 0, 'ATGT': 0, 'ATGC': 0, 'ATGG': 0, 'ACAA': 0, 'ACAC': 0, 'ACAG': 0, 'ACTA': 0, 'ACTC': 0, 'ACTG': 0, 'ACCA': 0, 'ACCT': 0, 'ACCC': 0, 'ACCG': 0, 'ACGA': 0, 'ACGT': 0, 'ACGC': 0, 'ACGG': 0, 'AGAA': 0, 'AGAC': 0, 'AGAG': 0, 'AGTA': 0, 'AGTC': 0, 'AGTG': 0, 'AGCA': 0, 'AGCT': 0, 'AGCC': 0, 'AGCG': 0, 'AGGA': 0, 'AGGC': 0, 'AGGG': 0, 'TAAA': 0, 'TAAC': 0, 'TAAG': 0, 'TATA': 0, 'TATC': 0, 'TATG': 0, 'TACA': 0, 'TACC': 0, 'TACG': 0, 'TAGA': 0, 'TAGC': 0, 'TAGG': 0, 'TTAA': 0, 'TTAC': 0, 'TTAG': 0, 'TTTC': 0, 'TTTG': 0, 'TTCA': 0, 'TTCC': 0, 'TTCG': 0, 'TTGA': 0, 'TTGC': 0, 'TTGG': 0, 'TCAC': 0, 'TCAG': 0, 'TCTC': 0, 'TCTG': 0, 'TCCA': 0, 'TCCC': 0, 'TCCG': 0, 'TCGA': 0, 'TCGC': 0, 'TCGG': 0, 'TGAC': 0, 'TGAG': 0, 'TGTC': 0, 'TGTG': 0, 'TGCA': 0, 'TGCC': 0, 'TGCG': 0, 'TGGC': 0, 'TGGG': 0, 'CAAC': 0, 'CAAG': 0, 'CATC': 0, 'CATG': 0, 'CACC': 0, 'CACG': 0, 'CAGC': 0, 'CAGG': 0, 'CTAC': 0, 'CTAG': 0, 'CTTC': 0, 'CTCC': 0, 'CTCG': 0, 'CTGC': 0, 'CTGG': 0, 'CCAC': 0, 'CCTC': 0, 'CCCC': 0, 'CCCG': 0, 'CCGC': 0, 'CCGG': 0, 'CGAC': 0, 'CGTC': 0, 'CGCC': 0, 'CGCG': 0, 'CGGC': 0, 'GAAC': 0, 'GATC': 0, 'GACC': 0, 'GAGC': 0, 'GTAC': 0, 'GTCC': 0, 'GTGC': 0, 'GCCC': 0, 'GCGC': 0, 'GGCC': 0}

### count frequency of 4-mer

In [29]:
def count_frequency(seq, fd):
    seq = seq.upper()
    feature_dict = fd.copy()
    for i in range(len(seq)-4):
        cur_mer = seq[i:i+4]
        if cur_mer in feature_dict: feature_dict[cur_mer] += 1
        elif reverse_complement(cur_mer) in feature_dict: feature_dict[reverse_complement(cur_mer)] += 1

    for f_mer in feature_dict:
        feature_dict[f_mer] /= 1500
    return feature_dict

### convert file to train data

In [7]:
ll = []

with open("vista1500.txt", "r") as f:
    line = f.readline()
    while line:
        if not line.startswith(">"):
            feature_dict1 = count_frequency(line, feature_dict)
            feature_dict1["Label"] = 0
            ll.append(feature_dict1)
        line = f.readline()
f.close()

with open("randoms1500.txt", "r") as f:
    line = f.readline()
    while line:
        if not line.startswith(">"):
            feature_dict1 = count_frequency(line, feature_dict)
            feature_dict1["Label"] = 1
            ll.append(feature_dict1)
        line = f.readline()
f.close()

df = pd.DataFrame(ll)

In [10]:
df.head()

,AAAA,AAAC,AAAG,AAAT,AACA,AACC,AACG,AACT,AAGA,AAGC,...,TTAC,TTAG,TTCA,TTCC,TTCG,TTGA,TTGC,TTGG,TTTC,TTTG
0,0.016000,0.007333,0.014667,0.012000,0.008000,0.007333,0.003333,0.004667,0.014667,0.008667,...,0.005333,0.006667,0.009333,0.013333,0.002,0.008000,0.006667,0.010667,0.012667,0.008667
1,0.007333,0.006000,0.006000,0.006667,0.007333,0.009333,0.002000,0.002000,0.008000,0.004000,...,0.004667,0.003333,0.004667,0.011333,0.002,0.001333,0.007333,0.006667,0.010000,0.003333
2,0.028667,0.012667,0.017333,0.022000,0.011333,0.007333,0.003333,0.010000,0.014667,0.010667,...,0.007333,0.010000,0.014667,0.008000,0.000,0.008667,0.004000,0.007333,0.020667,0.013333
3,0.010667,0.007333,0.014667,0.019333,0.009333,0.007333,0.000000,0.010667,0.012000,0.004000,...,0.006667,0.007333,0.012000,0.012000,0.000,0.010667,0.007333,0.010000,0.011333,0.014667
4,0.018667,0.012000,0.022000,0.021333,0.016000,0.006667,0.004667,0.006667,0.016000,0.009333,...,0.008000,0.006000,0.010667,0.012000,0.002,0.012000,0.010000,0.012667,0.018667,0.020667

In [12]:
df[df['Label'] == 1].head(10)

,AAAA,AAAC,AAAG,AAAT,AACA,AACC,AACG,AACT,AAGA,AAGC,...,TTAC,TTAG,TTCA,TTCC,TTCG,TTGA,TTGC,TTGG,TTTC,TTTG
1699,0.031333,0.011333,0.022667,0.024000,0.012667,0.007333,0.002667,0.012667,0.020000,0.008667,...,0.006667,0.004667,0.022000,0.012667,0.002000,0.015333,0.008667,0.004667,0.023333,0.018667
1700,0.028667,0.010667,0.020000,0.023333,0.008000,0.008000,0.000000,0.014000,0.022000,0.007333,...,0.006000,0.007333,0.010667,0.018667,0.000000,0.012667,0.009333,0.010000,0.024000,0.012667
1701,0.024000,0.013333,0.014667,0.013333,0.012000,0.006667,0.000000,0.006000,0.015333,0.012000,...,0.002667,0.006667,0.014000,0.015333,0.000000,0.007333,0.010000,0.012000,0.016000,0.014000
1702,0.050000,0.009333,0.012000,0.029333,0.016667,0.006000,0.000667,0.010000,0.014000,0.004667,...,0.010000,0.011333,0.012667,0.007333,0.002000,0.014667,0.008667,0.009333,0.012667,0.018000
1703,0.010000,0.001333,0.010667,0.005333,0.003333,0.002667,0.001333,0.002667,0.012000,0.004667,...,0.002667,0.002667,0.001333,0.004667,0.001333,0.006000,0.006000,0.004000,0.007333,0.006667
1704,0.018000,0.012667,0.015333,0.024000,0.012000,0.007333,0.000000,0.012000,0.016667,0.006667,...,0.004667,0.007333,0.017333,0.016667,0.001333,0.011333,0.008000,0.010000,0.018000,0.021333
1705,0.034667,0.014000,0.016000,0.032667,0.020667,0.004667,0.000000,0.010000,0.012667,0.007333,...,0.011333,0.012667,0.016000,0.010667,0.001333,0.016667,0.008667,0.006000,0.020667,0.015333
1706,0.017333,0.011333,0.013333,0.016000,0.013333,0.005333,0.000000,0.010000,0.012000,0.010000,...,0.004000,0.013333,0.014000,0.016667,0.002667,0.008667,0.004667,0.012667,0.016667,0.014000
1707,0.051333,0.008000,0.009333,0.014667,0.010000,0.008667,0.000667,0.004667,0.012667,0.008667,...,0.004000,0.006667,0.008000,0.008667,0.002000,0.012667,0.006667,0.013333,0.010667,0.014667
1708,0.032000,0.013333,0.017333,0.016667,0.014667,0.006667,0.002000,0.010667,0.009333,0.006667,...,0.004667,0.008000,0.016000,0.013333,0.000667,0.009333,0.008000,0.010000,0.017333,0.014000

In [13]:
df['Label'].value_counts()

0    1699
1     636
Name: Label, dtype: int64

### train

In [17]:
x_columns = [x for x in df.columns if x not in ['Label']]
X = df[x_columns]
y = df['Label']

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
rf = RandomForestClassifier(n_estimators=400, random_state=11).fit(X,y)

### test data

In [30]:
ll1=[]
with open("chr211.fa", "r") as f:
    line = f.readline()
    while line:
        if not line.startswith(">"):
            for i in range(0,len(line)-750,750):
                cur_seq = line[i:i+1500]
                fd1 = count_frequency(cur_seq, feature_dict)
                ll1.append(fd1)
        line = f.readline()
f.close()
test = pd.DataFrame(ll1)

In [31]:
test.head()

,AAAA,AAAC,AAAG,AAAT,AACA,AACC,AACG,AACT,AAGA,AAGC,...,TTAC,TTAG,TTCA,TTCC,TTCG,TTGA,TTGC,TTGG,TTTC,TTTG
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### test

In [32]:
x_columns_t = [x for x in test.columns]
t_X = test[x_columns_t]

In [48]:
prediction = rf.predict_proba(t_X)

In [49]:
avg = sum(prediction)/len(prediction)
print(avg)

[0.56633914 0.43366086]

### write to file

In [54]:
f = open("result.txt", 'w')
f.write("track type=wiggle_0\n")
f.write("variableStep\tchrom=chr21\tspan=750\n")
N = prediction[0][1]
for i in range(len(prediction)):
    if prediction[i][1] == N:
        f.write(str(1+i*750)+'\t'+str(avg[1])+'\n')
    else:
        f.write(str(1+i*750)+'\t'+str(prediction[i][1])+'\n')
f.close()